<div class="container-fluid" style="max-height: 90vh;">
  <div class="row">
    <fieldset>
      <app-button 
        [isActive]="isSorted"
        icon="assets/ordenar.png"
        tooltip="Ordenar"
        (clicked)="toggleSorted()">
      </app-button>

      <app-button 
        [isActive]="activeFlag.isNewMoonActive"
        icon="assets/lua-nova.png"
        tooltip="Lua Nova"
        (clicked)="updateDataSource(phase.NewMoon)">
      </app-button>

      <app-button 
        [isActive]="activeFlag.isCrescentMoonActive"
        icon="assets/lua-crescente.png"
        tooltip="Crescente"
        (clicked)="updateDataSource(phase.CrescentMoon)">
      </app-button>

      <app-button 
        [isActive]="activeFlag.isQuarterCrescentMoonActive"
        icon="assets/lua-quarto-crescente.png"
        tooltip="Quarto Crescente"
        (clicked)="updateDataSource(phase.QuarterCrescentMoon)">
      </app-button>

      <app-button 
        [isActive]="activeFlag.isGibbousCrescentMoonActive"
        icon="assets/lua-gibosa-crescente.png"
        tooltip="Gibosa crescente"
        (clicked)="updateDataSource(phase.GibbousCrescentMoon)">
      </app-button>

      <app-button 
        [isActive]="activeFlag.isFullMoonActive"
        icon="assets/lua-cheia.png"
        tooltip="Lua Cheia"
        (clicked)="updateDataSource(phase.FullMoon)">
      </app-button>

      <app-button 
        [isActive]="activeFlag.isGibbousWaningMoonActive"
        icon="assets/lua-gibosa-minguante.png"
        tooltip="Gibosa Minguante"
        (clicked)="updateDataSource(phase.GibbousWaningMoon)">
      </app-button>

      <app-button 
        [isActive]="activeFlag.isQuarterWaningActive"
        icon="assets/lua-quarto-minguante.png"
        tooltip="Quarto Minguante"
        (clicked)="updateDataSource(phase.QuarterWaningMoon)">
      </app-button>

      <app-button 
        [isActive]="activeFlag.isWanningMoonActive"
        icon="assets/lua-minguante.png"
        tooltip="Minguante"
        (clicked)="updateDataSource(phase.WaningMoon)">
      </app-button>

      <app-button 
        [isActive]="isAvaregeShow"
        icon="assets/arithmetic-mean.png"
        tooltip="Mostrar média"
        (clicked)="toggleAvarege()">
      </app-button>

      <mat-select [(ngModel)]="typeChart" (ngModelChange)="saveType($event)">
        <mat-option value="line">Line</mat-option>
        <mat-option value="bubble">Bubble</mat-option>
        <mat-option value="bar">Bar</mat-option>
      </mat-select>
    </fieldset>
  </div>

  <div class="row">
    <div class="col">
      <fieldset class="center-fieldset">
        <p class="chart-container">
          <canvas id="canvas-moon" width="350px" height="300px">{{chartMoon}}</canvas>
        </p>
      </fieldset>
    </div>
  </div>
</div>
