<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
  aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <!-- Título do offcanvas (opcional) -->
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menu</h5>
    <!-- Botão de fechar à direita -->
    <button mat-button data-bs-dismiss="offcanvas" class="ms-auto">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="offcanvas-body">
    <mat-nav-list> 
      <a mat-list-item routerLink="/ranking" data-bs-dismiss="offcanvas">
        <i class="fa-solid fa-ranking-star"></i> Ranking
      </a>
      <a mat-list-item routerLink="/correl" data-bs-dismiss="offcanvas">
        <img src="assets/diagrama-de-relacao.png" width="15px"> Correlações
      </a>
      <a mat-list-item routerLink="/ranking" data-bs-dismiss="offcanvas">
        <i class="fa-solid fa-download"></i> Download
      </a>
      <a mat-list-item routerLink="/status" data-bs-dismiss="offcanvas">
        <img src="assets/divisao-celular.png" width="15px"> Status
      </a>
      <a mat-list-item routerLink="/pg-ranking" data-bs-dismiss="offcanvas">
        <img src="assets/simbolo-matematico-da-funcao.png" width="15px"> PG Ranking
      </a>
      <a mat-list-item routerLink="/pg-config" data-bs-dismiss="offcanvas">
        <img src="assets/configuracoes.png" width="15px"> Configurações
      </a>
    </mat-nav-list>
  </div>
</div>