<div class="container-fluid">
  <div class="row">
    <app-nav-correlations></app-nav-correlations>
  </div>
  <div class="center-Table">
    <table>
      <tfoot>
        <tr>
          <th></th>
          <ng-container *ngFor="let header of headers; let colIndex = index">
            <th class="thead"
                [ngClass]="{'hovered-index': hoveredColumnIndex === colIndex}"
                (mouseover)="onCellMouseOvercol(colIndex)"
                (mouseout)="onCellMouseOutcol()"
                style="font-weight: bold;">
              {{ header }}
            </th>
          </ng-container>
        </tr>
      </tfoot>
      <tbody>
        <tr *ngFor="let row of indexRow.reverse(); let rowIndex = index" 
            [ngClass]="{'hovered-index': hoveredRowIndex === (indexRow.length - 1 - rowIndex)}">
          <th [ngClass]="{'hovered-index': hoveredRowIndex === (indexRow.length - 1 - rowIndex)}"
              (mouseover)="onCellMouseOverRow(indexRow.length - 1 - rowIndex)"
              (mouseout)="onCellMouseOut()">
            {{ row }}
          </th>
          <ng-container *ngFor="let cellValue of cells[rowIndex]; let colIndex = index">
            <td [ngStyle]="{'background-color': getCellColor(cellValue)}"               
                (mouseover)="onCellMouseOver(indexRow.length - 1 - rowIndex, colIndex)"
                (mouseout)="onCellMouseOut()">
              {{ cellValue }}
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
