<div class="container-fluid">
  <app-ranking-toolbar [isSorted]="isSorted" 
  [isOcurrenceActive]="isOcurrenceActive" 
  [isOverdueActive]="isOverdueActive"
  [isDoOverActive]="isDoOverActive" 
  [isAvaregeShow]="isAvaregeShow"
  [isExponentialTrendLineShow]="isExponentialTrendLineShow" 
  [isArithmeticTrendLineShow]="isArithmeticTrendLineShow"
  [isLogarithmLineDataTrendLineShow]="isLogarithmLineDataTrendLineShow" 
  [isFormulaShow]="isFormulaShow"
  (toggleSorted)="toggleSorted()" 
  (toggleAvarege)="toggleAvarege()"
  (toggleExponentialTrendLine)="toggleExponentialTrendLine()"
  (toggleArithmeticTrendLine)="toggleArithmeticTrendLine()" 
  (toggleLogarithmTrendLine)="toggleLogarithmTrendLine()"
  (toggleShowFormula)="toggleShowFormula()" 
  (updateDataSourceBasedOnEvent)="updateDataSourceBasedOnEvent($event)">
</app-ranking-toolbar>
  <div class="conc text-center">
    <p id="media" class="fw-bold">Concurso: {{ concurso }}</p>
  </div>

  <div class="chart-container d-flex justify-content-center my-3">
    <canvas id="canvas" class="chart" width="750" height="250"></canvas>
  </div>

</div>