<div class="container-fluid d-flex flex-column align-items-center">
  <div class="conc text-center">
    <p id="media" class="fw-bold">Concurso: {{ concurso }}</p>
  </div>

  <div class="toolbar-container d-flex justify-content-center">
    <app-ranking-toolbar 
    [isSorted]="isSorted"
    [isOcurrenceActive]="isOcurrenceActive"
    [isOverdueActive]="isOverdueActive"
    [isDoOverActive]="isDoOverActive"
    (toggleSorted)="toggleSorted()"
    (updateDataSourceBasedOnEvent)="updateDataSourceBasedOnEvent($event)">
    </app-ranking-toolbar>
  </div>

  <div class="chart-container d-flex justify-content-center mt-3">
    <canvas id="canvas" class="chart" width="30px" height="30px"></canvas>
  </div>

  <app-legend-explanation></app-legend-explanation>
</div>