.container-fluid {
  max-height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

.chart-container {
  width: 100%;
  height:100%;
  border: 1px solid #ebe0e0;
}

#canvas {
  width: 100%;
  height:100%;
}

/* .center-fieldset {
  position: relative;
  flex: 1;
  max-width: 60vw;
  max-height:80vh;
  margin: 0 0 0 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  border: 1px solid #ebe0e0;
} */
/* 
.side-nav {
  width: 80px;
  padding: 20px;
  box-sizing: border-box;
} */


/* 

.mat-mdc-select {
  width: 100px;
  padding: 12px;
  margin: 0px;

}
.mat-mdc-option {
  padding-left: 3px;
  padding-right: 16px;
}


.mat-mdc-select-trigger {
  background-color: #f0f0f0;
  width: 100px;
}


.mat-mdc-select-value {
  color: #e9dddd;
  width: 100px;
} */

/* .buttons-container {
  display: flex; 
  align-items: center; 
  gap: 10px; 
} */

.conc {
  width: auto; 
  /* height: 30px;  */
  padding: 40px; 
 
  color: #00B2FF; 
  font-size: 16px; 
  font-weight: bold; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  border-radius: 5px; 
}
/* 
.button-fieldset {
  position: relative;
  flex: 1;
  max-width: 60vw;
  max-height:80vh;
  margin: 0 0 0 25px;
  padding: 5px;
  display: flex;
  align-items: center;

} */


@media (max-width: 768px) {
  .canvas {
    width: 390px;
    height:390px;
  }
  .chart-container{
    width: 390px;
    height:390px;
    border: 1px solid #ebe0e0;
  }
}
