<div class="container-fluid">
  <mat-toolbar color="primary" class="toolbar">
    <div class="toolbar-content">
      <button mat-button (click)="toggleSorted.emit()" [class.clicked]="isSorted" matTooltip="Ordenar">
        <span>
          <img src="assets/ORDENAR-.png" width="20px" alt="">
          <span class="dot"></span>
        </span>
      </button>
  
      <button mat-button (click)="emitUpdate('ocurrences')" [class.clicked]="isOcurrenceActive" matTooltip="Ocorrencias">
        <span>
          <img src="assets/CONTAGEM.png" width="20px" alt="">
          <span class="dot"></span>
        </span>
      </button>
  
      <button mat-button (click)="emitUpdate('overdue')" [class.clicked]="isOverdueActive" matTooltip="Atrasados">
        <span>
          <img src="assets/letra-a.png" width="20px" alt="">
          <span class="dot"></span>
        </span>
      </button>
  
      <button mat-button (click)="emitUpdate('doover')" [class.clicked]="isDoOverActive" matTooltip="Repetidos">
        <span>
          <img src="assets/letra-r.png" width="20px" alt="">
          <span class="dot"></span>
        </span>
      </button>
  
      <button mat-button (click)="toggleAvarege.emit()" [class.clicked]="isAvaregeShow" matTooltip="Mostrar media">
        <span>
          <img src="assets/MEDIA.png" width="20px" alt="">
          <span class="dot"></span>
        </span>
      </button>
  
      <button mat-button (click)="toggleExponentialTrendLine.emit()" [class.clicked]="isExponentialTrendLineShow" matTooltip="Linha de tendencia Exponencial">
        <span>
          <img src="assets/EXPONENCIAL.png" width="20px" alt="">
          <span class="dot"></span>
        </span>
      </button>
  
      <button mat-button (click)="toggleArithmeticTrendLine.emit()" [class.clicked]="isArithmeticTrendLineShow" matTooltip="Linha de tendencia Aritmetica">
        <span>
          <img src="assets/ARITMETICO.png" width="20px" alt="">
          <span class="dot"></span>
        </span>
      </button>
  
      <button mat-button (click)="toggleLogarithmTrendLine.emit()" [class.clicked]="isLogarithmLineDataTrendLineShow" matTooltip="Linha de tendencia logaritmica">
        <span>
          <img src="assets/LOGARITMO.png" width="20px" alt="">
          <span class="dot"></span>
        </span>
      </button>
  
      <button mat-button (click)="toggleShowFormula.emit()" [class.clicked]="isFormulaShow" matTooltip="CONCURSO ANTERIOR">
        <span>
          <img src="assets/ANTERIOR.png" width="20px" alt="">
          <span class="dot"></span>
        </span>
      </button>
  
      <button mat-button (click)="toggleShowFormula.emit()" [class.clicked]="isFormulaShow" matTooltip="CONCURSO PROXIMO">
        <span>
          <img src="assets/PROXIMO.png" width="20px" alt="">
          <span class="dot"></span>
        </span>
      </button>
    </div>
  </mat-toolbar>

</div>

