
.container-fluid {
  padding: 0;
}

.toolbar {
  display: flex;
  flex-wrap: wrap;  
  align-items: center; 
  justify-content: center; 
  padding: 5px;
  background-color: #b0c4de; 
  min-height: 60px; 
}

.toolbar-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px; 
}

.toolbar-content button {
  flex-shrink: 0; 
  min-width: 10px;
  min-height: 10px;
}


@media (max-width: 768px) {
  button{
    width: 10px;
    height: 10px;
  }
}