<div class="container-fluid">
  <div class="toolbar-content">
    <app-button 
      [icon]="'assets/ORDENAR-.png'" 
      [isActive]="isSorted" 
      [tooltip]="'Ordenar'" 
      (clicked)="toggleSorted.emit()">
    </app-button>

    <app-button 
      [icon]="'assets/CONTAGEM.png'" 
      [isActive]="isOcurrenceActive" 
      [tooltip]="'Ocorrências'" 
      (clicked)="emitUpdate('ocurrences')">
    </app-button>

    <app-button 
      [icon]="'assets/letra-a.png'" 
      [isActive]="isOverdueActive" 
      [tooltip]="'Atrasados'" 
      (clicked)="emitUpdate('overdue')">
    </app-button>

    <app-button 
      [icon]="'assets/letra-r.png'" 
      [isActive]="isDoOverActive" 
      [tooltip]="'Repetidos'" 
      (clicked)="emitUpdate('doover')">
    </app-button>
<!-- 
    <app-button 
      [icon]="'assets/MEDIA.png'" 
      [isActive]="isAvaregeShow" 
      [tooltip]="'Mostrar média'" 
      (clicked)="toggleAvarege.emit()">
    </app-button>

    <app-button 
      [icon]="'assets/EXPONENCIAL.png'" 
      [isActive]="isExponentialTrendLineShow" 
      [tooltip]="'Linha de tendência Exponencial'" 
      (clicked)="toggleExponentialTrendLine.emit()">
    </app-button>

    <app-button 
      [icon]="'assets/ARITMETICO.png'" 
      [isActive]="isArithmeticTrendLineShow" 
      [tooltip]="'Linha de tendência Aritmética'" 
      (clicked)="toggleArithmeticTrendLine.emit()">
    </app-button>

    <app-button 
      [icon]="'assets/LOGARITMO.png'" 
      [isActive]="isLogarithmLineDataTrendLineShow" 
      [tooltip]="'Linha de tendência Logarítmica'" 
      (clicked)="toggleLogarithmTrendLine.emit()">
    </app-button>

    <app-button 
      [icon]="'assets/ANTERIOR.png'" 
      [isActive]="isFormulaShow" 
      [tooltip]="'Concurso Anterior'" 
      (clicked)="toggleShowFormula.emit()">
    </app-button>

    <app-button 
      [icon]="'assets/PROXIMO.png'" 
      [isActive]="isFormulaShow" 
      [tooltip]="'Concurso Próximo'" 
      (clicked)="toggleShowFormula.emit()">
    </app-button> -->
  </div>
</div>
