<div class="container-fluid">
  <div class="lorenz-container">
    <app-lorenz-attractor></app-lorenz-attractor>
  </div>
  
</div>
<!-- 
<div class="bolinhas-container">
  <div class="bolinha"> 
    <span style="padding-bottom: 20px;"> mais atrasada </span>  
    <p >21</p>
  </div>
  <div class="bolinha"> 
    <span style="padding-bottom: 20px;"> mais frequente </span>  
    <p >21</p>
  </div>
  <div class="bolinha"> 
    <span style="padding-bottom: 20px;"> mais atrasada </span>  
    <p >21</p>
  </div>
  <div class="bolinha"> 
    <span style="padding-bottom: 20px;"> mais atrasada </span>  
    <p >21</p>
  </div>
  <div class="bolinha"> 
    <span style="padding-bottom: 20px;"> mais atrasada </span>  
    <p >21</p>
  </div>
  <div class="bolinha"> 
    <span style="padding-bottom: 20px;"> mais atrasada </span>  
    <p >21</p>
  </div>
</div> -->

<!-- <div class="grid-container">
 <app-charts-rankings></app-charts-rankings>
 <app-charts-moons></app-charts-moons>
 <app-correlations></app-correlations>
 <app-charts-rankings></app-charts-rankings>
 <app-charts-rankings></app-charts-rankings>
 <app-charts-rankings></app-charts-rankings>
 <app-charts-rankings></app-charts-rankings>
 
</div> -->